<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title  }}</title>
    {% else %}
    <title>Home</title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
  </head>

  <body>
    <nav>
      {% set navigation_bar = [
        ('/', 'home', 'HOME'),
        ('/login', 'login', 'LOGIN'),
        ('/mqtt', 'mqtt', 'MQTT')
      ] -%}
      <!-- The active page will be changed from each url directly -->
      {% set active_page = active_page|default('home') -%}

      <label class="logo">HomeSensorHub</label>
      <ul id="navigation">
        {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active" {% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message  }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </body>
</html>
