<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title  }}</title>
    {% else %}
    <title>Home</title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
  </head>

  <body>

    <!--<nav>
      <div>
        <h1>HomeSensorHub</h1>
        {% import "macros.html" as macros %}
        {{macros.build_site_navigation(pages=pages, selected="Page Name")}}
      </div>
    </nav>-->

    <nav>
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">HomeSensorHub</label>
      <ul>
        <li><a class="active" href={{ url_for('home') }}>HOME</a></li>
        <li><a href={{ url_for('login') }}>LOGIN</a></li>
        <li><a href={{ url_for('mqtt') }}>MQTT</a></li>
      </ul>
    </nav>
    <!--<section></section>-->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message  }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </body>
</html>
