{% extends "base.html" %}
{% set active_page = "mqtt" %}

{% block content %}
<div class="div-subtitle">
    <h1 class="subtitle">MQTT - Configure the message broker that will be used to send and receive messages over the network.</h1>
</div>

<div class="left-column">
    <h2 class="form-title">Broker</h2>
</div>

<div class="middle-column">
    <form class="form" method="POST" action="{{ url_for('mqtt') }}">
        {{ form.csrf_token }}

        <!-- Address -->
        <div class="row">
            <div class="col-25">
                <p>{{ form.address.label }}</p>
            </div>
            <div class="col-75">
                {{ form.address(size=20) }}
            </div>
        </div>

        <!-- Port -->
        <div class="row">
            <div class="col-25">
                <p class="form-label">{{ form.port.label }}</p>
            </div>
            <div class="col-75">
                {{ form.port }}
            </div>
        </div>

        <!-- Client ID -->
        <div class="row">
            <div class="col-25">
                <p class="form-label">{{ form.client_id.label }}</p>
            </div>
            <div class="col-75">
                {{ form.client_id }}
            </div>
        </div>

        <!-- Root Topic -->
        <div class="row">
            <div class="col-25">
                <p class="form-label">{{ form.root_topic.label }}</p>
            </div>
            <div class="col-75">
                {{ form.root_topic }}
            </div>
        </div>

        <div class="row">
            <div class="col-75">{{ form.submit }}</div>
        </div>
    </form>
</div>

{% endblock %}
